body {
    background: #487dc7;
    min-height: 100vh;
  }
.btn{ 
  font-size: 13px;
  width: 100px;
  color: #7ac400;
  background: none;
  border: 2px solid #7ac400;
  margin-right: 10px;
  margin-top: 15px;
  }