{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>System</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}" /><link rel="stylesheet" type="text/CSS" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
        <style>
          body {
              background: #e2eaef;
              font-family: "Open Sans", sans-serif;
            }
          .btnme{ 
              font-size: 13px;
              font-weight: bold;
              width: 100px;
              color: #7ac400;
              background: none;
              border: 2px solid #7ac400;
              margin-right: 10px;
              margin-top: 15px;
              }
            .btnme:hover, .btnme:focus {
                color: #fff;
                background: #7ac400;
                box-shadow: none;
              }
        </style>
    </head>
    <body>
    <a href="{% url 'product' %}" style="margin-left: 87%;" class="btnme btn">Catalog</a>
        <div class="px-4 px-lg-0">
            <!-- For demo purpose -->
            <div class="container text-white py-5 text-center"  style="margin-top: -60px;margin-bottom: -10px;">
              <h2 style="color:black;"> <b>Shopping Cart</b> </h2>
            </div>
            <!-- End -->
          
            <div class="pb-5">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
          
                    <!-- Shopping cart table -->
                    <div class="table-responsive"  >
                      <table class="table" >
                        <thead >
                          <tr >
                            <th scope="col" class="border-0 bg-light">
                              <div class="p-2 px-3 text-uppercase" style="color: #7ac400;">Product</div>
                            </th>
                            <th scope="col" class="border-0 bg-light">
                              <div class="py-2 text-uppercase" style="color: #7ac400;">Price</div>
                            </th>
                            <th scope="col" class="border-0 bg-light" style="color: #7ac400;">
                              <div class="py-2 text-uppercase">Quantity</div>
                            </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in items %}
                          <tr>
                            <th scope="row" class="border-0">
                              <div class="p-2">
                                <img src="{% static 'img/placeholder.png' %}"  alt="" width="70" class="img-fluid rounded shadow-sm">
                                <div class="ml-3 d-inline-block align-middle">
                                  <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{item.product_name}}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: {{item.category}}</span>
                                </div>
                              </div>
                            </th>
                            <td class="border-0 align-middle"><strong>{{item.price}}</strong></td>
                            <td class="border-0 align-middle"><strong>{{item.quantity}}</strong></td>
                            <!-- <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td> -->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- End -->
                  </div>
                </div>
          
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                  <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold" style="color: #7ac400;">Coupon code</div>
                    <div class="p-4">
                      <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                      <div class="input-group mb-4 border rounded-pill p-2">
                        <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
                        <div class="input-group-append border-0">
                          <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill" style="background-color: #7ac400; border: none;"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
                        </div>
                      </div>
                    </div>
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold" style="color: #7ac400;">Instructions for seller</div>
                    <div class="p-4">
                      <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                      <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold" style="color: #7ac400;">Order summary </div>
                    <div class="p-4">
                      <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                      <ul class="list-unstyled mb-4">
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>{{order_subtotal}}</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>{{ship}}</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>{{tax}}</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                          <h5 class="font-weight-bold">{{total}}</h5>
                        </li>
                      </ul><a href="{%url 'confirm' %}" class="btn btn-dark rounded-pill py-2 btn-block" style="background-color: #7ac400; border: none;">Procceed to checkout</a>
                    </div>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
    </body>
</html>